.editor {
  display: flex;
  flex-direction: column;
  background-color: #225555;
  width: 50rem;
}
.editor__dropdown {
  font-size: 1rem;
  height: 2rem;
  width: 8rem;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #1c3333;
  border-bottom: 1px solid white;
  font-family: "Poppins";
  color: white;
}
.editor__dropdown:hover {
  background-color: #1c3333;
}
.editor__dropdown option {
  font-size: 1rem;
  font-family: "Poppins";
  right: 0;
}

.CodeMirror {
  height: 45rem;
  font-size: 1rem;
  overflow-y: hidden;
  font-family: "Source Code Pro";
}

@media (max-width: 700px) {
  .editor {
    min-width: 25rem;
    width: 100% !important;
  }
  .CodeMirror {
    max-height: 37rem;
  }
}
